<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="pl.jatustygne"
	xmlns:android="http://schemas.android.com/apk/res/android" >

	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:name=".JaTuStygneApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme" >
		<activity
			android:name=".SplashScreenActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:excludeFromRecents="true"
			android:noHistory="true"
			android:screenOrientation="portrait" >
			<intent-filter >
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter >
		</activity >
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:screenOrientation="portrait" />

		<receiver android:name=".receiver.BluetoothStateReceiver" >
			<intent-filter >
				<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
			</intent-filter >
		</receiver >

		<!-- Sensoro SDK-->
		<service android:name="com.sensoro.beacon.kit.BeaconService" />
		<service android:name="com.sensoro.beacon.kit.IntentProcessorService" />
		<!-- Sensoro SDK-->

	</application >

</manifest >
